.App {
  min-height: 100vh;
  background-color: #fd0054;
  color: #fff591;
}
.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchInput {
    width: 50%;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 1rem;
    outline: none;
    margin: 0.5rem;
}
.searchBtn{
  border-radius: 1rem;
  font-size: 1.4rem;
  padding: 1rem;
  
  border: none;
  background-color: #fff591 ;
  outline: none;

}
h1{
  text-align: center;
}
.infoContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}